doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        link(rel="stylesheet" href="/public/css/styles.css")
        title Ooom
    body 
        header
            h1 Ooom 
        main
            div#welcome
                form
                    input(placeholder="Room Name", required, type="text")
                    button Enter Room
            div#room
                div#call
                    div#myStream
                        video#myFace(autoplay, playsinline, width="400", height="400")
                        button#mute Mute 
                        button#camera Turn Camera Off
                        select#cameraList
                    div#peersStream
                        video#peerFace(autoplay, playsinline, width="400", height="400")
                div#chat
                    form#chat__form
                        textarea(placeholder="Chat Chat Chat", required)
                        button Send
                    ul
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")